<!-- Account container -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel"
     xmlns:th='http://www.thymeleaf.org'>
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel" class="text-white">Создать / Добавить учетную запись</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <!-- Body account -->
    <div class="offcanvas-body">
        <div class="card">
            <div class="card-body">
                <form th:method="POST" th:action="@{/api/v1/create_account}" class="add-account-form">
                    <div class="form-group mb-3">
                        <label for=""> Введите имя учетной записи</label>
                        <input type="text" name="account_name" class="form-control" placeholder="Enter Account name...">
                    </div>

                    <div class="form-group mb-3">
                        <label for=""> Выберите тип учетной записи</label>
                        <select name="account_type" class="form-control" id="">
                            <option value="">-- Выберите тип учетной записи --</option>
                            <option value="check">Check</option>
                            <option value="savings">Savings</option>
                            <option value="business">Business</option>
                        </select>
                    </div>

                    <div class="form-group my-2">
                        <button id="" class="btn btn-md transact-btn">Добавить учетную запись</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End of Body account -->
</div>
<!-- End of Account container -->
