<div class="container" xmlns:th='http://www.thymeleaf.org'>
    <div class="card no-accounts-card">
        <div class="card-body">
            <h1 class="card-title">
                <i class="fas fa-ban text-danger"></i> У вас еще нет учетной записи
            </h1>
            <hr>
            <div class="card-text">
                В настоящее время у вас нет зарегистрированных учетных записей. <br>
                Пожалуйста, нажмите ниже, чтобы зарегистрировать / добавить новую учетную запись.
            </div>
            <br>
            <button id="" class="btn btn-primary btn-lg shadow" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <i class="fa fa-credit-card"></i> Добавить новую учетную запись
            </button>

        </div>
    </div>
</div>
