<div class="container" xmlns:th='http://www.thymeleaf.org'>
    <div class="card no-accounts-card">
        <div class="card-body">
            <h1 class="card-title">
                <i class="fas fa-ban text-danger"></i> NO Registered Accounts
            </h1>
            <hr>
            <div class="card-text">
                You currently don't have any registered accounts. <br>
                Please click below to register / add a new account.
            </div>
            <br>
            <button id="" class="btn btn-primary btn-lg shadow" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <i class="fa fa-credit-card"></i> Add new Account
            </button>

        </div>
    </div>
</div>
