<!DOCTYPE html>
<html lang='en'
      xmlns='http://www.w3.org/1999/xhtml'
      xmlns:th='http://www.thymeleaf.org'>
<head>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width-device-width, initial-scale-1.0' >
  <link rel='stylesheet'  href='../static/css/bootstrap.css' th:href="@{/css/bootstrap.css}">
  <link rel='stylesheet'  href='../static/css/all.css' th:href="@{/css/all.css}">
  <link rel="stylesheet"  href="../static/css/default.css" th:href="@{/css/default.css}">
  <title>Home</title>
</head>
<body class="d-flex align-items-center ">

<div id="sample-text-card" class="card col-5 bg-transparent border-0">
  <div class="card-body">

    <h1 class="mb-3">Easy-Way Bank</h1>

    <h5 class="card-title">
      Flexible Banking Solutions
    </h5>

    <p class="card-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Aliquam amet consectetur ea eos natus praesentium! Earum possimus rerum sed.
      Architecto esse exercitationem incidunt nemo recusandae sunt, unde veritatis voluptatem.
      Aliquam aperiam, dignissimos dolor excepturi,
      ipsa itaque laudantium minus molestias mollitia obcaecati officiis quia ratione recusandae repudiandae sunt unde veritatis voluptatum.
    </p>

    <div class="button-wrapper d-flex align-items-center">
      <a href="/api/v1/register" class="btn btn-mb register" role="button">Register</a>
      <a href="/api/v1/login" class="btn btn-mb login" role="button">Login</a>
    </div>
  </div>
</div>

</body>
</html>
