<!DOCTYPE html>
<html lang='en'
      xmlns='http://www.w3.org/1999/xhtml'
      xmlns:th='http://www.thymeleaf.org'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width-device-width, initial-scale-1.0'>
    <link rel='stylesheet' href='../static/css/bootstrap.css' th:href="@{/css/bootstrap.css}">
    <link rel='stylesheet' href='../static/css/all.css' th:href="@{/css/all.css}">
    <link rel="stylesheet" href="../static/css/default.css" th:href="@{/css/default.css}">
    <title>Home</title>
</head>
<body class="d-flex align-items-center ">

<div id="sample-text-card" class="card col-5 bg-transparent border-0">
    <div class="card-body">

        <h1 class="mb-3">Easy-Way Bank</h1>

        <p class="card-text">
            Добро пожаловать в Easy-Way Bank. Это мой первый pet-проект на Spring.
            Технологии которые были использованы SpringBoot 3.0.6, Postgres, Maven.
            Если вы как то узнали об этом сайте напишите на почту egor.saprykin.03@mail.ru.
        </p>

        <div class="button-wrapper d-flex align-items-center">
            <a href="/api/v1/register" class="btn btn-mb register" role="button">Регистрация</a>
            <a href="/api/v1/login" class="btn btn-mb login" role="button">Вход</a>
        </div>
    </div>
</div>

</body>
</html>
