<div class="card payment-card" xmlns:th='http://www.thymeleaf.org'>
    <div class="card-body">
        <form th:method="POST" th:action="@{/api/v1/payment}">
            <div class="form-group mb-2">
                <label for=""> Account Holder / Beneficiary</label>
                <input type="text" name="beneficiary" class="form-control" placeholder="Enter Account holder / Beneficiary name">
            </div>

            <div class="form-group mb-2">
                <label for=""> Beneficiary Account Number</label>
                <input type="text" name="account_number" class="form-control" placeholder="Enter Beneficiary Account No">
            </div>

            <div class="form-group">
                <label for="">Select Account</label>
                <select name="account_id" class="form-control" id="">
                    <option value=""> -- Select Account -- </option>
                    <div th:if="${userAccounts != null}" th:each="selectAmount : ${userAccounts}">
                        <option th:value="${selectAmount.getAccount_id()}" th:text="${selectAmount.getAccount_name()}"></option>
                    </div>
                </select>
            </div>

            <div class="form-group mb-2">
                <label for=""> Reference</label>
                <input type="text" name="reference" class="form-control" placeholder="Enter Reference">
            </div>

            <div class="form-group mb-2">
                <label for=""> Enter Payment Amount</label>
                <input type="text" name="payment_amount" class="form-control" placeholder="Enter Payment Amount">
            </div>

            <div class="form-group mb-2">
                <button id="" class="btn btn-md transact-btn">Pay</button>
            </div>
        </form>
    </div>
</div>