<div class="card withdraw-card" xmlns:th='http://www.thymeleaf.org'>
    <div class="card-body">
        <form th:method="POST" th:action="@{/api/v1/withdraw}" class="withdraw-form">
            <div class="form-group mb-2">
                <label for=""> Enter Withdraw Amount</label>
                <input type="text" name="withdrawal_amount" class="form-control" placeholder="Enter Withdrawal Amount">
            </div>

            <div class="form-group">
                <label for="">Select Account</label>
                <select name="account_id" class="form-control" id="">
                    <option value=""> -- Select Account -- </option>
                    <div th:if="${userAccounts != null}" th:each="selectAmount : ${userAccounts}">
                        <option th:value="${selectAmount.getAccount_id()}" th:text="${selectAmount.getAccount_name()}"></option>
                    </div>
                </select>
            </div>

            <div class="form-group my-2">
                <button id="" class="btn btn-md transact-btn">Withdraw</button>
            </div>
        </form>
    </div>
</div>